@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

*{
    
}
body { 
 height: 100vh; 
 font-family: 'Raleway', sans-serif;
}
.container { 
 margin: auto; 
 width: 500px; 
 height: 200px; 
 margin-top: 150px; 
 position: relative;
}
.quote-svg{
width: 100px;
position:absolute;
margin-left: -200px;
}
#quote { 
 font-size: 45px; 
 font-weight: bold;
}
#author {
 font-weight: normal;
 font-size: 30px;
 width: 150px;
 height: 100px;
 margin-top: 30px;
}
#quote-button{
    margin-top: 30px;
    background-color: black;
    width: 100px;
    height: 50px;
    color: thistle;
    font-family:'Raleway', sans-serif; 
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2px;
}
#quote-button h1{
    font-size: 20px;
    color: 
}

